*{padding: 0; border: 0; margin: 0;}

.a {
    width: 300px;
    height: 160px;
    background-color: cornflowerblue;
    float: left;
    margin: 10px;
}

.b {
    width: 300px;
    height: 160px;
    background-color: crimson;
    float: left;
    margin: 10px;
}

.c {
    width: 300px;
    height: 160px;
    background-color: mediumpurple;
    float: left;
    margin: 10px;
}

.d{
    border: 1px red solid;
}
.d:after {
    content:"";
    display: block;   
    clear: both;
    background-color: mediumturquoise;
}